
/* .wrapper {
	max-width: 1300px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
} */
html {
	position: relative;
}

.error_message {
	font-size: 13px;
	color: #fff;
	background-color: #dc3545;
	display: inline-block;
	padding: 5px 15px;
	-webkit-border-radius: 4px;
	        border-radius: 4px;
}

.info_message {
	font-size: 13px;
	color: #fff;
	background-color: #d39e00;
	display: inline-block;
	padding: 5px 15px;
	-webkit-border-radius: 4px;
	        border-radius: 4px;
}

.form_require {
	color: #dc3545;
	font-size: 16px;
}

.kasse_alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    position: absolute;
    top: 140px;
    left: 15px;
    transition: all .4s ease;
    z-index: 100;
}

.card {
	max-width: 18rem;
}

@media only screen and (max-width: 480px){
	.card {
		max-width: 100%;
	}
}

/*========= Errors=========*/
.error_true {
    position: absolute;
    top: 72px;
    left: -1000px;
    z-index: 100;
}

.error_false {
    position: absolute;
    top: 72px;
    left: -1000px;
    z-index: 100;
}

/*========= login =========*/

.login {
	padding-top: 12%;
}

.login h1 {
	text-align: center;
	color: #c1c1c1;
	font-size: 35px;
	padding-bottom: 50px;

}

@media only screen and (max-width: 968px) {
	.login {
		padding-top: 20%;
	}

	.login h1 {
		font-size: 25px;
		padding-bottom: 30px;
	}
}

.anfrage {
	padding-top: 10%;
}

.anfrage h1 {
    text-align: center;
    color: #c1c1c1;
    font-size: 35px;
    padding-bottom: 50px;
}



.konto_erstellen {
	padding-top: 10%;
}

.konto_erstellen h1 {
    text-align: center;
    color: #c1c1c1;
    font-size: 35px;
    padding-bottom: 50px;
}



/*========= header-nav =========*/

@media only screen and (max-width: 480px) {

	.admin {
		width: 15%;
	}
	.logout {
		width: 85%;
	}
	ul.nav.nav-admin {
		flex-wrap: nowrap;
	}

	.nav-link {
    display: block;
    padding: 0rem 1rem .5rem;
	}
}


.nav-link {
	color: #fff;
}

.seller-menu-top {
	padding-top: 20px;
}

.seller-menu-top .nav-link {
	color: #343a40;
}

.nav-admin .nav-link {
	padding: 0;
}

.container-nav-menu {
	background-color: #343a40;
}

.nav-menu {
	padding: 10px 0;
}

.nav-pills.nav-menu .nav-link.active {
    color: #fff;
    background-color: #dc3545;
    -webkit-border-radius: 0;
            border-radius: 0;
}

.nav-pills.nav-menu .nav-link {
	-webkit-transition: all .4s ease;
	   -moz-transition: all .4s ease;
	    -ms-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}

.nav-pills.nav-menu .nav-link:hover {
	color: #dc3545;
}

.nav-pills.nav-menu .nav-link.active:hover {
	color: #fff;
}

.seller-trenner {
	margin: 30px 0;
	padding: 10px 0;
	background-color: #e9ecef;
}

.navbar-toggler {
    border-radius: 0;
}

.navbar-toggler-icon {
	margin-bottom: 10px;
}

.navbar-toggler-icon i {
	color: #FFF;
}

.container-nav-menu .collapse {
	margin: 0 0px 0 -5px !important;
}

.container-nav-menu .navbar-nav {
	padding: 10px 0 !important;
}

.container-nav-menu .navbar-nav .nav-item a {
	padding: 5px 10px;
}




/*========= Home =========*/


.fas.fa-user-graduate {
    margin-left: 10px;
    transition: all .4s ease;
}

.fas.fa-user-graduate:hover {
    color:#dc3545;
}

.home i.fa-external-link-alt.text-danger {
	transition: all .4s ease;
	position: relative;
}

.home i.fa-external-link-alt.text-danger:hover {
	color: #343a40 !important;
	top: -2px;
	right: -2px;
}

.home i.fa-external-link-alt.text-dark {
	transition: all .4s ease;
	position: relative;
}

.home i.fa-external-link-alt.text-dark:hover {
	color: #dc3545 !important;
	top: -2px;
	right: -2px;
}




/*========= Personal Profil =========*/
.personalProfil .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #dc3545;
    border-radius: 0;
    transition: all .4s ease;
}

.personalProfil .nav-pills .nav-link.active, .nav-pills .show > .nav-link:hover {
    color: #fff;
}

.personalProfil .nav-pills .nav-link:hover {
    color: #fff;
    background-color: #dc3545;
    border-radius: 0;
}

.personalProfil .card-header {
    padding: 5px 10px;
}

.personalProfil .card-body {
    padding: 0;
}

.personalProfil .personenBild {
	margin:0;
	padding: 0;
}

.personalProfil .personenBild img {
	max-width: 200px;
	width: 100%;
	height: auto;
}

/*========= ihkWirtTest, ihkZwischen =========*/
.form_mehrere_antworten input{
	display: inline-block;
}

img.test_img {
	max-width: 665px;
}


.ihkWirtTest .jumbotron,
.ihkFachTest .jumbotron,
.ihkZwischenTest .jumbotron,
.wbsZwischenTest .jumbotron {
    padding: 2.5rem 2rem;
}

.ihkWirtTest_ergebnis .ihkWirtTest_titel,
.ihkFachTest_ergebnis .ihkFachTest_titel,
.ihkZwischenTest_ergebnis .ihkZwischenTest_titel,
.wbsZwischenTest_ergebnis .wbsZwischenTest_titel  {
    box-shadow: 0px 0px 5px rgba(200,200,200,0.5);
    border-radius: 5px;
    padding: 0 0 8px 0;
}

.ihkWirtTest_ergebnis .ihkWirtTest_card,
.ihkFachTest_ergebnis .ihkFachTest_card,
.ihkZwischenTest_ergebnis .ihkZwischenTest_card,
.wbsZwischenTest_ergebnis .wbsZwischenTest_card {
	box-shadow: 0px 0px 10px rgb(50, 50, 50);
}

.ihkWirtTest_ergebnis .ihkWirtTest_card p,
.ihkFachTest_ergebnis .ihkFachTest_card p,
.ihkZwischenTest_ergebnis .ihkZwischenTest_card p,
.wbsZwischenTest_ergebnis .wbsZwischenTest_card p  {
	font-size: 40px;
}




.ihkWirtTest_ergebnis .ihkWirtTest_card,
.ihkFachTest_ergebnis .ihkFachTest_card,
.ihkZwischenTest_ergebnis .ihkZwischenTest_card,
.wbsZwischenTest_ergebnis .wbsZwischenTest_card {
	max-width: 350px;
	width: 100%;
}


/*========= Timer =========*/
.ihkWirtTest_timer,
.ihkFachTest_timer,
.ihkZwischenTest_timer,
.wbsZwischenTest_timer{
    float: right !important;
    margin: -17px 0px 0 0px;
    font-size: 20px;
    font-weight: 600;
    color: #343a40;
}

span.float-right.d-inline-block {

    margin: -15px 0 0 10px;

}

.timer_pause {
    border: 1px solid #343a40;
    padding: 0px 5px 3px 5px;
    background: #343a40;
    color: #fff;
		cursor: pointer;
		transition: all .4s ease;
}

.timer_pause:hover {
    border: 1px solid #343a40;
    padding: 0px 5px 3px 5px;
    background: #fff;
    color: #343a40;
}

.timer_start {
    border: 1px solid #dc3545;
    padding: 0px 5px 3px 5px;
    background: #dc3545;
    color: #fff;
		cursor: pointer;
		transition: all .4s ease;
}

.timer_start:hover {
    border: 1px solid #dc3545;
    padding: 0px 5px 3px 5px;
    background: #fff;
    color: #dc3545;
}


/*========= Pagiantion =========*/
.pagination .page-item.active .page-link {
    background-color: #343a40;
    border-color: #343a40;

}

.pagination .page-link {
    color: #343a40;
}

.pagination .page-link:hover {
    color: #343a40;
}

.pagination .page-link:focus {
    box-shadow: none;
}


/*========= Admin =========*/



/*========= header-nav =========*/


.admin_menu .nav-link {
	color: #fff;
}

.admin_menu .seller-menu-top {
	padding-top: 20px;
}

.admin_menu .seller-menu-top .nav-link {
	color: #343a40;
}

.admin_menu .nav-admin .nav-link {
	padding: 0;
}


.admin_menu .nav-menu {
	padding: 10px 0;
}

.admin_menu .nav-pills.nav-menu .nav-link.active {
    color: #fff;
    background-color: #343a40;
    -webkit-border-radius: 0;
            border-radius: 0;
}

.admin_menu .nav-pills.nav-menu .nav-link {
	-webkit-transition: all .4s ease;
	   -moz-transition: all .4s ease;
	    -ms-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}

.admin_menu .nav-pills.nav-menu .nav-link:hover {
	background-color: #343a40;
	border-color: #343a40;
	color: #fff;
	border-radius: 0;
}

.admin_menu .nav-pills.nav-menu .nav-link.active:hover {
	color: #fff;

}

.admin_menu .btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show > .btn-info.dropdown-toggle {
	background-color: #343a40;
	border-color: #343a40;
	color: #fff;
	border-radius: 0;
}

.admin_menu .dropdown button:hover {
	background-color: #343a40;
	border-color: #343a40;
	color: #fff
}


.admin_menu .seller-trenner {
	margin: 30px 0;
	padding: 10px 0;
	background-color: #e9ecef;
}

.admin_menu .navbar-toggler {
    border-radius: 0;
}

.admin_menu .navbar-toggler-icon {
	margin-bottom: 10px;
}

.admin_menu .navbar-toggler-icon i {
	color: #FFF;
}

.container-nav-menu .collapse {
	margin: 0 0px 0 -5px !important;
}

.container-nav-menu .navbar-nav {
	padding: 10px 0 !important;
}

.container-nav-menu .navbar-nav .nav-item a {
	padding: 5px 10px;
}

/* Statistik */

.card.statistik {
	max-width: 100%;
}
